.container {
    padding-bottom: 30px;
}

.carousel-inner {
    height: 700px;
}

.carousel-item {
    object-fit: cover;
}
.carousel {
    width: 40rem;
    height: auto;
    margin: 0 auto;
}

.carousel-control-next {
    filter: invert(100%);
    margin-right: -15rem;
}

.carousel-control-prev {
    filter: invert(100%);
    margin-left: -15rem;
}

.carousel-indicators {
    filter: invert(100%);
}
